PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=change_me_in_dev

AUTH_SERVICE_URL=http://localhost:4001
FARM_SERVICE_URL=http://localhost:4002
WEATHER_SERVICE_URL=http://localhost:3003
SOIL_SERVICE_URL=http://localhost:3004
AI_SERVICE_URL=http://localhost:4006
NOTIFICATION_SERVICE_URL=http://localhost:3006